.footer {
    padding: 30px 0;
    background-color: $clr_grey;
    &-container {
        display: flex;
        align-items: center;
        gap: 40px;
        color: $clr_grey_2;

        @media (max-width: 1024px) {
            gap: 20px;
        }

        @media (max-width: 480px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    }

    &__copyright {
        @include font_nav($font-family, $clr_white, 400);

        @media (max-width: 1024px) {
            margin-right: 14px;
        }

        @media (max-width: 480px) {
            order: 3;
        }
    }

    &-list {
        position: relative;
        display: flex;
        align-items: center;
        gap: 38px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -19.5px;
            width: 1px;
            height: 18px;
            background-color: #c3c3c3;

        }

        @media (max-width: 1024px) {
            flex-wrap: wrap;
            gap: 14px;
            &::after {
                left: -6.5px;
            }
        }

        @media (max-width: 909px) {
            &::after {
                content: none;
            }
        }

        &__item {
            @include font_nav($font-family, $clr_grey_2, 400);
            text-transform: none;
            display: flex;
            align-items: center;
            gap: 10px;
            white-space: nowrap;

            & > svg {
                flex: 0 0 auto;
                width: 20px;
                height: 20px;
                fill: $clr_blue;
            }
        }
    }

    &-contacts {
        position: relative;
        display: flex;
        align-items: center;
        gap: 38px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -19.5px;
            width: 1px;
            height: 18px;
            background-color: #c3c3c3;

        }

        @media (max-width: 1024px) {
            flex-wrap: wrap;
            gap: 14px;
            &::after {
                left: -6.5px;
            }
        }

        @media (max-width: 909px) {
            &::after {
                content: none;
            }
        }

        &__item {
            & > a {
                @include font_nav($font-family, $clr_white, 400);
                text-transform: none;
                display: flex;
                align-items: center;
                gap: 10px;
                white-space: nowrap;
                & > svg {
                    width: 20px;
                    height: 20px;
                    fill: $clr_blue;
                }
            }
        }
    }
}
