.choices[data-type*="select-one"]:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    right: 11.5px;
    top: 50%;
    pointer-events: none;
    border: none;
    background-image: url(../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px 8px;
    background-position: center;
    transform: translateY(-45%);
}

.choices[data-type*="select-one"].is-open:after {
    background-image: url(../img/svg/arrow2.svg);
    margin-top: -3px;
}

.choices__list--single {
    padding: 0;
}

.choices__inner {
    @include font_form($font-family);
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid $clr_white;
    border-radius: 3px;
    outline: none;
    padding: 12px 10px;
}

.is-open .choices__inner {
    @include font_form($font-family);
    color: $clr_white;
    padding: 10px 10px;
    border-radius: 3px 3px 0 0;
    background: rgba(61, 64, 80, 0.85);
    border: 1px solid rgba(61, 64, 80, 0.85);
    overflow: hidden;
}

.choices__list {
    max-height: 180px;
    overflow: auto;
}

.choices__list--dropdown {
    @include font_form($font-family);
    color: $clr_white;
    background-color: transparent;
}

.choices__list--dropdown .choices__item {
    @include font_form($font-family);
    color: $clr_white;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    @include font_form($font-family);
    background-color: transparent;
    color: $clr_blue;
}

.choices__item--selectable {
    background: transparent;
}

.is-open .choices__list--dropdown {
    border: 1px solid rgba(61, 64, 80, 0.85);
    background-color: #3d4050;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
    display: none;
}


.just-validate-error-label {
    margin-top: 5px;
    @include font_p3($font-family, $clr_white, 400);
}
