@mixin font_logo ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-style: normal;
    font-size: 28px;
    font-weight: $fontW;
    line-height: 33px;
    color: $color;
    text-transform: uppercase;

    & > span {
        color: $clr_blue;
    }

    @media(max-width: 1024px) {
        font-size: 26px;
    }

    @media(max-width: 768px) {
        font-size: 24px;
    }
}

@mixin font_nav ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 13px;
    font-weight: $fontW;
    line-height: 15.6px;
    color: $color;
    text-transform: uppercase;

    @media(max-width: 1024px) {
        font-size: 11px;
    }

    @media(max-width: 768px) {
        font-size: 9px;
    }
}


@mixin font_h1 ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 48px;
    font-weight: $fontW;
    line-height: 57.6px;

    & > span {
        color: $clr_blue;
    }

    @media(max-width: 1024px) {
        font-size: 38px;
        line-height: 47.6px;
    }

    @media(max-width: 768px) {
        font-size: 32px;
        line-height: 42.6px;
    }
}

@mixin font_h2 ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 36px;
    font-weight: $fontW;
    line-height: 43.2px;
    color: $color;
    text-transform: uppercase;

    & > span {
        color: $clr_blue;
    }

    @media(max-width: 1024px) {
        font-size: 34px;
        line-height: 47.6px;
    }

    @media(max-width: 768px) {
        font-size: 28px;
        line-height: 42.6px;
    }
}


@mixin font_lead ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 20px;
    font-weight: $fontW;
    line-height: 24px;

}

@mixin font_p1 ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 20px;
    font-weight: $fontW;
    line-height: 20px;
    color: $color;
}

@mixin font_p2 ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 18px;
    font-weight: $fontW;
    line-height: 20px;
    color: $color;
}

@mixin font_p3 ($fontfam, $color, $fontW) {
    font-family: $fontfam;
    font-size: 16px;
    font-weight: $fontW;
    line-height: 20px;
    color: $color;
}

@mixin font_form ($fontfam) {
    font-family: $fontfam;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #272733;
}

