<section class="first-screen">
    <div class="container first-screen-container">
        <picture class="first-screen__bg">
            <source srcset="./img/fs_bg.avif" type="image/avif">
            <source srcset="./img/fs_bg.webp" type="image/webp">
            <img loading="lazy" src="./img/fs_bg.jpg" class="image" alt="first screen">
        </picture>
        <h1 data-aos="fade-right"
        data-aos-duration="500" data-aos-delay="300" class="first-screen__title"><span>Lorem ipsum</span> dolor sit amet
            consectetur <span>adipiscing</span></h1>
        <p data-aos="fade-right"
        data-aos-duration="500" data-aos-delay="600" class="first-screen__description">At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
        <ul data-aos="fade-right"
        data-aos-duration="500" data-aos-delay="900" class="first-screen__list list-reset">
            <li class="first-screen__item">Totam rem aperiam eaque ipsa</li>
            <li class="first-screen__item">Sit voluptatem accusantium doloremque laudantium</li>
            <li class="first-screen__item">Sed ut perspiciatis, unde omnis iste natus error</li>
        </ul>
        <div data-aos="fade-down"
        data-aos-duration="1000" data-aos-delay="1200" class="first-screen-btns">
            <button class="btn btn-main">Заказать</button>
            <a href="#" class="btn btn-second">Подробнее</a>
        </div>
    </div>
</section>
