<header  class="header">
    <div class="container header-container">
        <a href="#" class="header__logo">LoremIpsum.<span>Net</span></a>
        <nav class="header-nav">
            <button type="button" class="header-nav__burger btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="header-nav__list list-reset">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Бизнес</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link active">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Цены</a>
                </li>
                <li class="header-nav__item">
                    <a href="#main-form" class="header-nav__link">Оформить заказ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
