<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <meta name="theme-color" content="#111111" >
    <title>Test EmployCity</title>

    <link rel="preload" href="fonts/Lato-Bold.woff" as="font" type="font/woff" crossorigin >
    <link rel="preload" href="fonts/Lato-Medium.woff" as="font" type="font/woff" crossorigin >
    <link rel="preload" href="fonts/Lato-Regular.woff" as="font" type="font/woff" crossorigin >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" >
    <link rel="stylesheet" href="css/vendor.css" >
    <link rel="stylesheet" href="css/main.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@800&display=swap"
        rel="stylesheet">
    <script defer src="js/main.js"></script>
</head>
