<section class="order">
    <div class="container order-container">
        <h2 class="order__title">Оформление <span>Заказа</span></h2>
        <p class="order__description">Перед заполнением формы ознакомьтесь с нашей схемой работы!</p>
        <ul class="order-list list-reset">
            <li data-aos="slide-right"
     data-aos-duration="500" data-aos-delay="10" class="order-list__item">
                <span>
                    <svg>
                        <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                </span>
                <p>Lorem ipsum dolor
                    sit amet</p>
            </li>
            <li data-aos="slide-right"
     data-aos-duration="500" data-aos-delay="100" class="order-list__item">
                <span>
                    <svg>
                        <use xlink:href="img/sprite.svg#proc"></use>
                    </svg>
                </span>
                <p>Сonsecteturadipiscing elit</p>
            </li>
            <li data-aos="slide-right"
     data-aos-duration="500" data-aos-delay="200" class="order-list__item">
                <span>
                    <svg>
                        <use xlink:href="img/sprite.svg#file"></use>
                    </svg>
                </span>
                <p>Sed do eiusmod tempor</p>
            </li>
            <li data-aos="slide-right"
     data-aos-duration="500" data-aos-delay="300" class="order-list__item">
                <span>
                    <svg>
                        <use xlink:href="img/sprite.svg#mail2"></use>
                    </svg>
                </span>
                <p>Esse cillum dolore
                    eu fugiat</p>
            </li>
            <li data-aos="slide-right"
     data-aos-duration="500" data-aos-delay="400" class="order-list__item">
                <span>
                    <svg>
                        <use xlink:href="img/sprite.svg#money"></use>
                    </svg>
                </span>
                <p>Excepteur sint occaecat cupidatat non proident</p>
            </li>
        </ul>
        <form action="#" class="order-form" method="post" id="main-form" enctype="multipart/form-data">
            <div class="order-form__field">
                <select class="default" id="choose-system" name="choose-system">
                    <option disabled value="0">Выберите тип системы</option>
                    <option value="1">Sed ut perspiciatis</option>
                    <option value="2">Nemo enim ipsam</option>
                    <option value="3">Et harum quidem</option>
                    <option value="4">Temporibus autem</option>
                    <option value="5">Itaque earum rerum</option>
                </select>
            </div>
            <div class="order-form__field">
                <input type="email" placeholder="Ваш e-mail" name="email">
            </div>
            <div class="order-form__field">
                <input type="text" placeholder="Ваше имя" name="name">
            </div>
            <div class="order-form__field order-form__field--slider">
                <div class="slider-output">
                    <span>Sed ut perspiciatis, unde omnis iste natus</span>
                    <output id="rangevalue">50</output>
                </div>
                <input type="range" min="0" max="100" onchange="rangevalue.value=value" >
            </div>
            <div class="order-form__field order-form__field--file">
                <label for="choose-files">
                    <svg>
                        <use xlink:href="img/sprite.svg#files"></use>
                    </svg>
                    <span>Прикрепить</span>
                    <input type="file" id="choose-files" name="choose-files">
                </label>
            </div>
            <div class="order-form__field--button">
                <button type="submit" class="btn btn-main">Отправить</button>
            </div>
        </form>
    </div>
</section>
